p {
 color: violet;
}
header {
    background-color: black;
    color: aqua;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-align: center;
}

h1 {
    font-family:'Cinzel', serif ;
    letter-spacing: 20px;
    text-align: center;
    font-variant: small-caps;
    color: black;
}
h1::first-letter {
    color: chartreuse;
}
button {
    border-color: blue;
    border-width: 4px;
}
h2,h3,h4 {
    background-color: black;
    color: aliceblue;
}
img {
    size: 50px;
}
body {
    margin-left: 10px;
    background-image: url("https://p.kindpng.com/picc/s/490-4908273_support-png-image-file-league-of-legends-support.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60%;
    background-size: 18rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: solid 2px #660066;
    padding: 5px;
}
th {
    background-color: darkgrey;
    color: aliceblue;
    text-align: left;
}
tr:hover {
    background-color: grey;
    cursor: pointer;
}